

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.container {
    position: absolute;
    top: 5vh;
    width: 50vw;
    left: 25vw;
    height: 100%;
    background: wheat;
    box-shadow: black 0 0 3px;
}

.top {
    position: relative;
    height: 35vh;
    width: 100%;
    background: white;
}

.middle {
    position: relative;
    height: 8vh;
    width: 100%;
    background: lightgrey;
}

.title {
    position: absolute;
    margin: auto;
    width: 100%;
    top: 15vh;
    text-align: center;
}

.user {
    position: absolute;
    right: 2%;
    top: 15%;
}

.answers {
    position: relative;
    width: 100%;
    background: gainsboro;
    height: 100%;
}