


.chat {
    position: relative;
    width: 100%;
    height: 10vh;
    direction: rtl;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.chat-description {
    font-size: 14px;
    padding-top: 5px;
}

.chat-time {
    position: absolute;
    left: 3%;
    top: 2vh;
    font-size: 13px;
    color: grey;
}

.Container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}


.Layout {
    position: absolute;
    top: 5vh;
    width: 36vw;
    left: calc((100vw - 36vw)/2);
    height: 90vh;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.3);
    background: white;
    overflow: auto;
}

.chat-container {
    position: relative;
    width: 100%;
    height: calc(90vh - 9vh);
    background: rgb(240, 240, 240);
    overflow: hidden;
}

.input {
    position: relative;
    width: 70%;
    left: 15%;
    height: 8vh;
    direction: rtl;
}

.input-container {
    position: absolute;
    width: 100%;
    height: 8vh;
    bottom: 0;
    background-color: white;
    border-top: 1px solid grey;
}

input {
    outline: none;
}

.send {
    position: absolute;
    top: 12%;
    left: 1%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
}
body,
html {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
svg {
    cursor: pointer;
}

.navigation {
    width: 100%;
    min-height: 60px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    border: 0.5px solid #76767637;
}

.case {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 0.5px solid #76767637;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.left {
    min-width: 350px;
    max-width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.left > .top {
    position: relative;
    min-height: 60px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 0.5px solid #76767637;
    display: flex;
    align-items: center;
}

.left > .top > .tub {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: "Open Sans";
    width: 100%;
}

.left > .top > .card {
    position: absolute;
    padding: 0 10px;
    right: 10px;
}
.left > .top > .card > button {
    background-color: #ffffff;
    border: 0.5px solid #76767637;
    padding: 4px 8px;
    color: #323232;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 12px;
    border-radius: 12px;
    cursor: pointer;
}
.left > .top > .card > button:hover {
    color: #767676;
}

.left > .conversations {
    overflow-y: scroll;
    height: 100%;
    padding: 10px 0 0 0;
    overflow-x: hidden;
}

.conversations > .person {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    gap: 10px;
}

.conversations > .person:hover {
    background-color: #f0f0f0af;
    cursor: pointer;
}

.conversations > .person > .box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conversations > .person > .box > .image {
    width: clamp(50px, 50px, 50px);
    height: clamp(50px, 50px, 50px);
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conversations > .person > .box > .online {
    min-width: 1.1rem;
    min-height: 1.1rem;
    background-color: lawngreen;
    border-radius: 100%;
    position: absolute;
    border: 3px solid white;
    right: 0;
    bottom: 0;
}

.conversations > .person > .status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.conversations > .person > .status > .point {
    min-height: 8px;
    min-width: 8px;
    background-color: #0084ff;
    border-radius: 100%;
}

.right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.right > .top {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
    height: 9vh;
    background-color: var(--theme);
    direction: rtl;
}

.right > .top > .box {
    position: relative;
    min-width: 30px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right > .top > .box > .image {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 100%;
    overflow: hidden;
}

.right > .top > .box > .online {
    position: absolute;
    min-width: 12px;
    min-height: 12px;
    background-color: lawngreen;
    border-radius: 100%;
    border: 2px solid #ffffff;
    right: 0;
    bottom: 0;
}

.right > .top > .information {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    gap: 0;
    text-overflow: ellipsis;
}

.blue-tick {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.right > .top .information > .name {
    font-weight: 400;
    font-size: 12px;
    color: #707070;
}

.right > .top > .options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right > .top > .options > .info {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.right > .middle {
    background-color: #ffffff;
    height: inherit;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}

.messages {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 2.5px;
}

.clip {
    display: flex;
}

.clip > .text {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    max-width: 50%;
    padding: 8px 16px;
    border-radius: 20px;
    word-break: keep-all;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.received > .text {
    background-color: white;
    border: 0.5px solid #80808080;
}

.sent > .text {
    background-color: #0084ff;
    color: white;
}

.sent {
    flex-direction: row-reverse;
}

.seen {
    text-align: right;
    padding: 0 10px;
    font-family: "Open Sans";
    font-size: 0.75rem;
    font-weight: 400;
    color: gray;
}

.right > .bottom {
    position: absolute;
    bottom: 0;
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 28px;
}

.cup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 0.5px solid #7676765c;
    width: 100%;
    gap: 10px;
    padding: 2px 15px;
    border-radius: 40px;
    overflow: hidden;
}

.cup > .picker {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: clamp(35px, 35px, 35px);
    height: clamp(35px, 35px, 35px);
    user-select: none;
}

.cup > textarea {
    font-family: "Open Sans";
    font-size: 0.85rem;
    font-weight: 400;
    border: none;
    outline: none;
    padding: 0 5px;
    width: 100%;
    resize: none;
    max-height: 100px;
}

.cup > .send {
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    color: #0084ff;
}

.send:disabled {
    color: #0084ff8d;
}

.username {
    color: white;
    padding-right: 10px;
    font-size: 18px;
}
