
.Topbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 13.5vh;
    background-color: royalblue;
}

.icons {
    position: absolute;
    top: 15%;
    left: 1%;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons * {
    width: 100%;
    height: 100%;
    cursor: pointer;
}